@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

span.rbc-toolbar-label {
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
    margin : 10px;
    font-size: x-large;
}

.wrapper{
    min-height : 100vh;
}

.rbc-toolbar  {
    flex-direction: column-reverse;
}

.rbc-btn-group > button:first-child{
    display: none;
}

.rbc-btn-group > button {
    margin: 10px;
    font-size : medium;
    border: 1px solid darkgrey;
    font-weight: 600;
    text-decoration: underline black;
}

.rbc-header{
    padding : 5px;
}

.rbc-month-view{  
    padding : 5px; 
    border : none !important;   
}

.rbc-date-cell {
    font-weight : 700;
    font-size : 15px;
}

.container-fluid{
    padding : 0;
    margin : 0;
}

.spinner_text {
    color: black;
    animation: text_type 1s ease-in-out 3;
    overflow: hidden;
    white-space: nowrap;
    width: 28ch;
}

@keyframes text_type {
    0% {
      width: 0ch;
    }
    50% {
      width: 14ch;
    }
    75% {
      width: 25ch;
    }
    100% {
      width: 28ch;
    }
  }

  .sortbtn:active {
      animation : animation 0.7s ease-in 3;
      width : 40px;
      height : 40px;
  }

  @keyframes animation { 
    20% {
        transform : rotate(720deg)
      }
  }



